iiiiiii classpath(res) th html<br>
<br>
contextPath = '[[${contextPath}]]' <br>
pageContext.request.contextPath = '[[${pageContext}]]' <br>
message = '[[${message}]]' <br>
10101010101010101010101010


